---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="Fábrica de software | CCJEJ">
  <h1>Fábrica de software</h1>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mt-32 sm:mt-40 xl:mx-auto xl:max-w-7xl xl:px-8">
      <div class="mx-auto text-center">
        <p class="text-base font-semibold leading-7 text-blue-600">CCJEJ</p>
        <h2
          class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
        >
          Fábrica de software
        </h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          La iniciativa de fábrica de software del CCJEJ, es capaz de ofrecer
          desarrollo de software de alta calidad y solidez funcional,
          manteniéndose a la vanguardia tecnológica y priorizando la
          satisfacción del empresario mediante una comunicación abierta y
          transparente, gestionar proyectos de manera eficiente dentro de los
          acuerdos y contar con un equipo multidisciplinario de jóvenes
          altamente capacitado y en constante evolución profesional, todo ello
          para ofrecer soluciones de calidad.
        </p>
      </div>

      <img
        src="/fabrica-de-software.png"
        alt=""
        class="mt-10 aspect-[5/2] w-full object-cover xl:rounded-3xl"
      />

      <div class="overflow-hidden bg-white py-12 sm:py-16">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div
            class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
          >
            <div class="lg:ml-auto lg:pl-4 lg:pt-4">
              <div class="lg:max-w-lg">
                <h2 class="text-base font-semibold leading-7 text-blue-600">
                  Fábrica de software | CCJEJ
                </h2>
                <p
                  class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
                >
                  Misión y Visión
                </p>
                <p class="mt-6 text-lg leading-8 text-gray-600">
                  En el CCJEJ, nos guiamos por una misión clara y una visión
                  inspiradora que definen nuestro compromiso con el desarrollo
                  empresarial y social en Jalisco. Descubre nuestros objetivos y
                  el futuro que aspiramos construir juntos.
                </p>
                <dl
                  class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none"
                >
                  <div class="relative pl-9">
                    <dt class="inline font-semibold text-gray-900">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="absolute left-1 top-1 h-5 w-5 text-blue-600"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941"
                        ></path>
                      </svg>

                      Misión <br />
                    </dt>
                    <dd class="inline">
                      Impulsar la digitalización del ecosistema empresarial en
                      el país, así como desafiar los límites de la creatividad y
                      la eficiencia, conectando a las empresas con herramientas
                      tecnológicas que potencien su día a día. de igual manera
                      ayudar al talento joven a desarrollar conocimiento, nuevas
                      habilidades y experiencia en proyectos reales de la
                      industria.
                    </dd>
                  </div>
                  <div class="relative pl-9">
                    <dt class="inline font-semibold text-gray-900">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="absolute left-1 top-1 h-5 w-5 text-blue-600"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                        ></path>
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
                      </svg>

                      Visión <br />
                    </dt>
                    <dd class="inline">
                      Visualizamos un futuro donde la tecnología es una fuerza
                      positiva y transformadora. Nuestra visión es ser un
                      catalizador de la innovación, creando soluciones que
                      satisfacen a las necesidades actuales y anticipen las
                      demandas emergentes, así mismo empoderando a los jovenes y
                      empresas para alcanzar su máximo potencial a través de
                      soluciones tecnológicas inteligentes y sostenibles.
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
            <div class="flex items-center justify-end lg:order-first">
              <img
                src="/mision-vision-fabrica-de-software.jpg"
                alt="Para que sirve digitalizarme"
                class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]"
                width="1920"
                height="1080"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="overflow-hidden bg-white py-12 sm:py-16">
        <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
          <div
            class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-start"
          >
            <div class="px-6 lg:px-0 lg:pr-4 lg:pt-4">
              <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
                <h2 class="text-base font-semibold leading-7 text-blue-600">
                  Fábrica de software | CCJEJ
                </h2>
                <p
                  class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
                >
                  ¿Para qué sirve digitalizarme?
                </p>
                <p class="mt-6 text-lg leading-8 text-gray-600">
                  Digitalizar tu negocio mejora la eficiencia, amplía tu alcance
                  y fortalece tu competitividad en el mercado. Adopta
                  herramientas digitales y transforma tu empresa para el futuro.
                </p>
                <dl
                  class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none"
                >
                  <div class="relative pl-9">
                    <dt class="inline font-semibold text-gray-900">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="absolute left-1 top-1 h-5 w-5 text-blue-600"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                        ></path>
                      </svg>
                      Automatizar procesos
                    </dt>
                  </div>
                  <div class="relative pl-9">
                    <dt class="inline font-semibold text-gray-900">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="absolute left-1 top-1 h-5 w-5 text-blue-600"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                        ></path>
                      </svg>
                      Mejorar la comunicación
                    </dt>
                  </div>
                  <div class="relative pl-9">
                    <dt class="inline font-semibold text-gray-900">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="absolute left-1 top-1 h-5 w-5 text-blue-600"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                        ></path>
                      </svg>
                      Aumentar la productividad
                    </dt>
                  </div>
                  <div class="relative pl-9">
                    <dt class="inline font-semibold text-gray-900">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="absolute left-1 top-1 h-5 w-5 text-blue-600"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                        ></path>
                      </svg>
                      Reducir costos
                    </dt>
                  </div>
                  <div class="relative pl-9">
                    <dt class="inline font-semibold text-gray-900">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="absolute left-1 top-1 h-5 w-5 text-blue-600"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                        ></path>
                      </svg>
                      Ganar nuevos clientes
                    </dt>
                  </div>
                </dl>
              </div>
            </div>
            <div class="sm:px-6 lg:px-0">
              <div
                class="relative isolate overflow-hidden bg-blue-500 px-6 pt-8 sm:mx-auto sm:max-w-2xl sm:rounded-3xl sm:pl-16 sm:pr-0 sm:pt-16 lg:mx-0 lg:max-w-none"
              >
                <div
                  class="absolute -inset-y-px -left-3 -z-10 w-full origin-bottom-left skew-x-[-30deg] bg-blue-100 opacity-20 ring-1 ring-inset ring-white"
                  aria-hidden="true"
                >
                </div>
                <div class="mx-auto max-w-2xl sm:mx-0 sm:max-w-none">
                  <img
                    src="/para-que-sirve-digitalizarme.jpg"
                    alt="Product screenshot"
                    width="2432"
                    height="1442"
                    class="-mb-12 w-[57rem] max-w-none rounded-tl-xl bg-gray-800 ring-1 ring-white/10"
                  />
                </div>
                <div
                  class="pointer-events-none absolute inset-0 ring-1 ring-inset ring-black/10 sm:rounded-3xl"
                  aria-hidden="true"
                >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-white py-12 sm:py-16">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-6xl lg:text-center">
            <h2 class="text-base font-semibold leading-7 text-blue-600">
              Fábrica de software | CCJEJ
            </h2>
            <p
              class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
            >
              Beneficios de ser parte de la iniciativa
            </p>
            <p class="mt-6 text-lg leading-8 text-gray-600">
              Únete a la iniciativa Fábrica de Software y accede a capacitación
              especializada, oportunidades de colaboración y soporte para
              desarrollar soluciones tecnológicas innovadoras. Impulsa tu
              carrera y contribuye al crecimiento del ecosistema tecnológico.
            </p>
          </div>
          <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
            <dl
              class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3"
            >
              <div class="flex flex-col">
                <dt
                  class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-5 w-5 flex-none text-blue-600"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
                    ></path>
                  </svg>

                  Asesoramiento personalizado
                </dt>
                <dd
                  class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
                >
                  <ul class="flex-auto">
                    <li>• Análisis de digitalización</li>
                    <li>• Identificación de necesidades digitales</li>
                    <li>• Definición de perfiles de equipo de desarrollo</li>
                    <li>• Propuesta de desarrollo</li>
                    <li>• Acuerdos y plan de trabajo</li>
                  </ul>
                </dd>
              </div>
              <div class="flex flex-col">
                <dt
                  class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-5 w-5 flex-none text-blue-600"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                    ></path>
                  </svg>

                  Talento joven
                </dt>
                <dd
                  class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
                >
                  <ul class="flex-auto">
                    <li>• Convocatoria de talento joven</li>
                    <li>• Reclutamiento y formación de equipo</li>
                    <li>• Capacitación formal</li>
                  </ul>
                </dd>
              </div>
              <div class="flex flex-col">
                <dt
                  class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-5 w-5 flex-none text-blue-600"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 17.25v1.007a3 3 0 0 1-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0 1 15 18.257V17.25m6-12V15a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 15V5.25m18 0A2.25 2.25 0 0 0 18.75 3H5.25A2.25 2.25 0 0 0 3 5.25m18 0V12a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 12V5.25"
                    ></path>
                  </svg>

                  Desarrollo de tecnología
                </dt>
                <dd
                  class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600"
                >
                  <ul class="flex-auto">
                    <li>• Project manager para seguimiento</li>
                    <li>• Documentación del proyecto</li>
                    <li>• Desarrollo y entrega de tecnología</li>
                  </ul>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>

      <div
        class="relative isolate overflow-hidden bg-gray-900 px-6 py-24 sm:py-32 lg:px-8"
      >
        <img
          src="distintivo-ccjej.jpg"
          alt=""
          class="absolute inset-0 -z-10 h-full w-full object-cover"
        />
        <div
          class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"
          aria-hidden="true"
        >
          <div
            class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#3b82f6] to-[#776fff] opacity-20"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
          >
          </div>
        </div>
        <div
          class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu"
          aria-hidden="true"
        >
          <div
            class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#3b82f6] to-[#776fff] opacity-20"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
          >
          </div>
        </div>
        <div class="mx-auto max-w-2xl text-center">
          <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
            Distintivo CCJEJ
          </h2>
          <p class="mt-6 text-lg leading-8 text-gray-300">
            Se otorgará un distintivo por el CCJEJ, a empresarios que concluyan
            con sus proyectos de digitalización en la fábrica de software.
          </p>
        </div>
      </div>

      <div class="bg-white py-12 sm:py-16">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900">
              Contáctanos
            </h2>
            <p class="mt-6 text-lg leading-8 text-gray-600">
              ¿Tienes preguntas o necesitas más información? Contáctanos y
              descubre cómo podemos ayudarte. ¡Estamos aquí para asistirte en
              cada paso del camino!
            </p>
          </div>
          <div
            class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-8 text-base leading-7 sm:grid-cols-2 sm:gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-4"
          >
            <div>
              <h3
                class="border-l border-blue-600 pl-6 font-semibold text-gray-900"
              >
                Correo electrónico
              </h3>
              <div
                class="border-l border-gray-200 pl-6 pt-2 not-italic text-gray-600"
              >
                <a href="mailto:vinculacion@ccjej.org">vinculacion@ccjej.org</a>
              </div>
            </div>
            <div>
              <h3
                class="border-l border-blue-600 pl-6 font-semibold text-gray-900"
              >
                Teléfono
              </h3>
              <div
                class="border-l border-gray-200 pl-6 pt-2 not-italic text-gray-600"
              >
                <a href="tel:3317249440">33 1724 9440</a>
              </div>
            </div>
            <div>
              <h3
                class="border-l border-blue-600 pl-6 font-semibold text-gray-900"
              >
                Horario de atención
              </h3>
              <address
                class="border-l border-gray-200 pl-6 pt-2 not-italic text-gray-600"
              >
                <p>Lunes a Viernes</p>
                <p>10:00 a.m. - 5:00 p.m.</p>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
