---

---

<div class="overflow-hidden bg-white py-8">
  <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:min-w-full lg:max-w-none lg:flex-none lg:gap-y-8"
    >
      <div class="lg:col-end-1 lg:w-full lg:max-w-lg lg:pb-8">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          Únete a Nosotros
        </h2>
        <p class="mt-6 text-xl leading-8 text-gray-600">
          Sé parte del cambio y contribuye al futuro de Jalisco. En el CCJEJ, te
          ofrecemos la oportunidad de conectarte con jóvenes líderes, innovar y
          crecer junto a una comunidad apasionada por el desarrollo empresarial
          y social.
        </p>
        <p class="mt-6 text-base leading-7 text-gray-600">
          Forma parte del CCJEJ y contribuye al desarrollo empresarial y social
          de Jalisco. ¡Haz clic aquí para unirte y transformar el futuro con
          nosotros!
        </p>
        <div class="mt-10 flex">
          <a
            href="/contacto"
            class="rounded-md bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
            >Sumate +</a
          >
        </div>
      </div>
      <div
        class="flex flex-wrap items-start justify-end gap-6 sm:gap-8 lg:contents"
      >
        <div
          class="w-0 flex-auto lg:ml-auto lg:w-auto lg:flex-none lg:self-end"
        >
          <img
            src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
            class="aspect-[7/5] w-[37rem] max-w-none rounded-2xl bg-gray-50 object-cover"
          />
        </div>
        <div
          class="contents lg:col-span-2 lg:col-end-2 lg:ml-auto lg:flex lg:w-[37rem] lg:items-start lg:justify-end lg:gap-x-8"
        >
          <div
            class="order-first flex w-64 flex-none justify-end self-end lg:w-auto"
          >
            <img
              src="https://images.unsplash.com/photo-1527689368864-3a821dbccc34?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
              class="aspect-[4/3] w-[24rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover"
            />
          </div>
          <div class="flex w-96 flex-auto justify-end lg:w-auto lg:flex-none">
            <img
              src="https://images.unsplash.com/photo-1542744095-fcf48d80b0fd?q=80&w=2952&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
              class="aspect-[7/5] w-[37rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover"
            />
          </div>
          <div
            class="hidden sm:block sm:w-0 sm:flex-auto lg:w-auto lg:flex-none"
          >
            <img
              src="https://images.unsplash.com/photo-1499914485622-a88fac536970?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
              class="aspect-[4/3] w-[24rem] max-w-none rounded-2xl bg-gray-50 object-cover"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
