---

---

<div class="relative bg-white">
  <img
    class="h-56 w-full rounded-xl bg-gray-50 object-cover lg:absolute lg:inset-y-0 lg:left-0 lg:h-full lg:w-1/2"
    src="https://images.unsplash.com/photo-1600880292089-90a7e086ee0c?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt=""
  />
  <div class="mx-auto grid max-w-7xl lg:grid-cols-2">
    <div
      class="px-6 pb-24 pt-16 sm:pb-32 sm:pt-20 lg:col-start-2 lg:px-8 lg:pt-32"
    >
      <div class="mx-auto max-w-2xl lg:mr-0 lg:max-w-lg">
        <h2 class="text-base font-semibold leading-8 text-blue-600">CCJEJ</h2>
        <p
          class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
        >
          Nuestro Impacto en Cifras
        </p>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Descubre cómo el CCJEJ une a jóvenes líderes empresariales, impulsando
          el crecimiento económico y la creación de empleos en Jalisco. ¡Sé
          parte de una comunidad que transforma el futuro empresarial!
        </p>
        <dl
          class="mt-16 grid max-w-xl grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 xl:mt-16"
        >
          <div class="flex flex-col gap-y-3 border-l border-gray-900/10 pl-6">
            <dt class="text-sm leading-6 text-gray-600">
              Cámaras y organismos Empresariales, Colegios y Asociaciones
              integrados por jóvenes lideres del estado.
            </dt>
            <dd
              class="order-first text-3xl font-semibold tracking-tight text-gray-900"
            >
              +30
            </dd>
          </div>
          <div class="flex flex-col gap-y-3 border-l border-gray-900/10 pl-6">
            <dt class="text-sm leading-6 text-gray-600">Jóvenes Empresarios</dt>
            <dd
              class="order-first text-3xl font-semibold tracking-tight text-gray-900"
            >
              +1,100
            </dd>
          </div>
          <div class="flex flex-col gap-y-3 border-l border-gray-900/10 pl-6">
            <dt class="text-sm leading-6 text-gray-600">
              Millones de pesos en ventas anuales
            </dt>
            <dd
              class="order-first text-3xl font-semibold tracking-tight text-gray-900"
            >
              +10,000
            </dd>
          </div>
          <div class="flex flex-col gap-y-3 border-l border-gray-900/10 pl-6">
            <dt class="text-sm leading-6 text-gray-600">Empleos</dt>
            <dd
              class="order-first text-3xl font-semibold tracking-tight text-gray-900"
            >
              +20,000
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
