---
const images = [
  {
    src: "/images/image-(0).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(1).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(2).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(3).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(4).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(5).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(6).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(7).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(8).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(9).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(10).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(11).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(12).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(13).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(14).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(15).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(16).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(17).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(18).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(19).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(20).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(21).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(22).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(23).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(24).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(25).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(26).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(27).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(28).jpg",
    alt: "Transistor",
  },
  {
    src: "/images/image-(29).jpg",
    alt: "Transistor",
  },
];
---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-4xl font-semibold leading-8 text-gray-900">
      Cámaras y Organismos
    </h2>
    <div
      class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5"
    >
      {
        images.map((image, index) => (
          <img
            class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
            src={image.src}
            alt={image.alt}
            width="158"
            height="48"
          />
        ))
      }
    </div>
  </div>
</div>
